<script setup lang="ts">
// import { storeToRefs } from 'pinia'
// import { useCommon } from '~/stores/common'
// import { useEpisode } from '~/stores/episode'

// const { currentResultMode } = storeToRefs(useEpisode())
// const { isHeaderInside } = storeToRefs(useCommon())
const isUploadScreen = ref<boolean>(true)
// const isHeaderBtnShow = ref<boolean>(false)
// const isHeaderHidden = ref<boolean>(false)
// const isHeaderShow = ref<boolean>(false)
function isBtnBack() {
//   back to home page
}
// function isBtnHideHeader(isValue: boolean) {
//   const headerElement = document.getElementById('Header')
//   if (headerElement === null)
//     return
//
//   if (isValue) {
//     headerElement.classList.add('hidden')
//     isHeaderHidden.value = true
//     isHeaderShow.value = true
//   }
//   else {
//     headerElement.classList.remove('hidden')
//     isHeaderHidden.value = false
//     isHeaderShow.value = false
//   }
// }
</script>

<template>
  <div class="tw-bg-header">
    <div class="tw-min-w-[900px] tw-bg-[transparent] mx-auto">
      <div id="Header" class="header-result-div">
        <div :class="isUploadScreen ? 'tw-bg-blue-dark' : 'tw-bg-[#363b46]'">
          <div class="header-div-container">
            <!--            header-left -->
            <div
              class="header-left"
              :class="isUploadScreen ? 'tw-left-8' : 'tw-left-4'"
            >
              <div
                v-if="!isUploadScreen"
                class="tw-cursor-pointer tw-flex tw-items-center"
                @click="isBtnBack"
              >
                <img
                  src="~assets/icons/back.svg"
                  alt="back-to-page-icon"
                  class="tw-mr-4 tw-w-8 tw-h-8"
                >
              </div>
              <div v-else>
                <div class="tw-font-bold tw-text-white tw-text-base">
                  {{ $t("us_01_ttl_imageChecker") }}
                </div>
              </div>
            </div>
            <!--            header-center -->
            <div v-show="!isUploadScreen" class="header-center" />
            <!--            header-right -->
            <div class="header-right">
              <ic-select />
            </div>
          </div>
        </div>
      </div>

      <!--      hide header -->
      <!--      <div -->
      <!--        v-show="!isUploadScreen && isHeaderBtnShow && !isHeaderHidden" -->
      <!--        id="toggleHeader" -->
      <!--        class="hideHeader tw-cursor-pointer" -->
      <!--        :class="[ -->
      <!--          !isUploadScreen && currentResultMode === RESULT_SCREEN_MODES.CHECK_DIFF ? 'mt-[68px]' : 'mt-[64px]', -->
      <!--          isHeaderInside ? 'bg-show-header-icon' : 'bg-[#363b46]', -->
      <!--        ]" -->
      <!--        @click="isBtnHideHeader(true)" -->
      <!--      > -->
      <!--        <img v-if="!isHeaderHidden" src="~assets/icons/hiddeHeaderV4.svg"> -->
      <!--      </div> -->

      <!--      show header -->
      <!--      <div -->
      <!--        v-show="isHeaderShow" -->
      <!--        class="header-result-div tw-flex tw-cursor-pointer" -->
      <!--        @click="isBtnHideHeader(false)" -->
      <!--      > -->
      <!--        <div -->
      <!--          class="showHeader tw-mr-10" -->
      <!--          :class="isHeaderInside ? 'bg-inside' : 'bg-[#fb973b]'" -->
      <!--        > -->
      <!--          <img src="~assets/icons/newHeaderShow3.svg"> -->
      <!--        </div> -->
      <!--      </div> -->
    </div>
  </div>
</template>

<style scoped>
.header-result-div{
  width: 100%;
  position: fixed;
  z-index: 99999;
}
.header-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}
.header-left {
  position: absolute;
}
.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header-right {
  position: absolute;
}
</style>
