<script setup lang="ts">
definePageMeta({ layout: 'blank' })
useSeoMeta({
  title: 'Template',
})
</script>

<template>
  <div>
    <h1>pages/template</h1>
  </div>
</template>

<style scoped lang="scss">

</style>
