<script setup lang="ts">

</script>

<template>
  <div class="text-3xl">
    <h1>components/layout/header</h1>
    <UIcon
      name="local-color:app-logo"
    />
  </div>
</template>

<style scoped>

</style>
